#about-module{
  position: absolute;
  height: 80%;
  width: 90%;
  left: 5%;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}


.screen-wrap{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
html, body, .screen-wrap{
  height: 100%;
  width: 100%;
  margin: 0;
}
header{
  margin: auto;
  width: 800px;
  display: flex;
  flex: 1;
}
#front{
  margin: 0 auto 0 auto;
  width: 800px;
  display: flex;
  flex: 2;
  flex-direction: row;
}
#shoe-container{
  padding: 1%;
  align-content: center;
  width: 88%;
  margin: 5% auto auto auto;
  display: flex;
  flex: 8;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

}
.shoe-text{
  height: 100%;
  width: 100%;
}
nav{
  text-align: center;
  flex-direction: row;
  align-content: center;
  margin: auto auto 5% auto;
  display: flex;
  flex: 1;
  width: 90%;
}
.nav-box{
  background-color: rgba(190, 190, 190, 1);
  width: 40%;
  height: 100%;
}
.nav-shoe{
  text-align: center;
  width: 20%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

#shoe-picture-campaign {
  display: flex;
  width: 60%;
  height: 80%;
}

#campaign-description {
  width: 30%;
  height: 80%;
  margin: auto 0 auto 0;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

ul {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

#instructions-campaign {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #00adbf
}

h1 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: #00adbf
}

#header-wrap {
  position: relative;
}

#personal-header {
  height: 115px;
  width: auto;
  position: absolute;
}

#footprint-header {
  height: 160px;
  width: auto;
  position: absolute;
  top: 180px;
  margin: -50px 200px;
  z-index: 30;
}

#pink-paint-banner {
  height: 250px;
  width: auto;
  align-self: center;
}

#shoe-campaign {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 20;
  display: flex;
}

#blue-plaint {
  height: 400px;
  width: 350px;
  position: relative;
  left: 50px;
}

#campaign-description {
  column-count: 1;
}

#about {
  width: 30%;
  height: 200px;
  margin: auto 0px auto 400px;
}

#facebook {
  height: 30px;
  width: auto;
}

#instagram {
  height: 30px;
  width: auto;
}

#twitter {
  height: 30px;
  width: auto;
}

/*

  !!! DO NOT PASS THIS POINT !!!

  noone should ever walk this path

*/
.shoe-box{
  background-image: url(../img/akvarium-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile{
  background-image: url(../img/shoe-person-05.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}

.shoe-box0, .shoe-box1, .shoe-box2, .shoe-box3, .shoe-box4, .shoe-box5{
  background-size: contain;
  width: 200px;
  margin: 0.5%;
  height: 200px;
}
.shoe-profile0, .shoe-profile1, .shoe-profile2, .shoe-profile3, .shoe-profile4, .shoe-profile5{
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile0:hover, .shoe-profile1:hover, .shoe-profile2:hover, .shoe-profile3:hover, .shoe-profile4:hover, .shoe-profile5:hover{
  opacity: 0;
  -webkit-transition: 1.5s;
}

.shoe-box0{background-color: grey; background-image: url(../img/akvarium-shoe.png);}
.shoe-profile0{background-image: url(../img/shoe-person-01.png);}

.shoe-box1{background-color: purple; background-image: url(../img/designer-shoe.png);}
.shoe-profile1{background-image: url(../img/shoe-person-02.png);}

.shoe-box2{background-color: lightgreen; background-image: url(../img/lamborghini-shoe.png);}
.shoe-profile2{background-image: url(../img/shoe-person-03.png);}

.shoe-box3{background-color: yellow; background-image: url(../img/player-shoe.png);}
.shoe-profile3{background-image: url(../img/shoe-person-04.png);}

.shoe-box4{background-color: plum; background-image: url(../img/punk-shoe.png);}
.shoe-profile4{background-image: url(../img/shoe-person-05.png);}

.shoe-box5{background-color: pink; background-image: url(../img/sea-shoe.png);}
.shoe-profile5{background-image: url(../img/shoe-person-06.png);}

.shoe-box6{background-color: skyblue; background-image: url(../img/sporty-shoe.png);}
.shoe-profile6{background-image: url(../img/shoe-person-07.png);}
