.screen-wrap{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
html, body, .screen-wrap{
  height: 100%;
  width: 100%;
  margin: 0;
}
header{
  overflow: hidden;
  margin: auto;
  width: 800px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
#front{
  margin: 0 auto 0 auto;
  width: 800px;
  display: flex;
  flex: 2;
  flex-direction: row;
}
#shoe-container{
  padding: 1%;
  align-content: center;
  width: 88%;
  margin: 5% auto auto auto;
  display: flex;
  flex: 8;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

}
.shoe-text{
  height: 100%;
  width: 100%;
}
.shoe-text:hover{
  top: -100px;
}
nav{
  text-align: center;
  flex-direction: row;
  align-content: center;
  margin: auto auto 5% auto;
  display: flex;
  flex: 1;
  width: 90%;
}
.nav-box{
  background-color: rgba(190, 190, 190, 1);
  width: 40%;
  height: 100%;
}
.nav-shoe{
  text-align: center;
  width: 20%;
  height: 100%;
}

#shoe-picture-campaign {
  display: flex;
  width: 60%;
  height: 80%;
  margin: auto auto auto 0;
}

#campaign-description {
  margin: 0 0 0 auto;
  width: 35%;
  height: 80%;
  margin: auto 0 auto 0;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

ul {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

#instructions-campaign {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #00adbf
}

h1 {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  color: #00adbf
}

#header-wrap {
  position: relative;
}

#personal-header {
  height: 130px;
  margin: 5% auto 0 0;
  z-index: 5;
}

#footprint-header {
  height: 130px;
  width: auto;
  margin: 0 0 auto auto;
  z-index: 5;
}

#pink-paint-banner {
  top: 5%;
  height: 250px;
  width: auto;
  position: absolute;
}
.personal-footprint-container{
  flex-direction: column;
  display: flex;
  width: 80%;
  z-index: 10;
}





/*

  !!! DO NOT PASS THIS POINT !!!

  noone should ever walk this path

*/
.shoe-box{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile{
  background-image: url(../img/shoe-person-05.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}






.shoe-box0{
  background-color: grey;
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile0{
  background-image: url(../img/shoe-person-01.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile0:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}

  .shoe-box1{
  background-color: purple;
  background-image: url(../img/designer-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile1{
  background-image: url(../img/shoe-person-02.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile1:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}

.shoe-box2{
  background-color: lightgreen;
  background-image: url(../img/jungle-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile2{
  background-image: url(../img/shoe-person-03.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile2:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}

.shoe-box3{
  background-color: yellow;
  background-image: url(../img/player-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile3{
  background-image: url(../img/shoe-person-04.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile3:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}

.shoe-box4{
  background-color: plum;
  background-image: url(../img/punk-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile4{
  background-image: url(../img/shoe-person-05.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile4:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}


.shoe-box5{
  background-color: pink;
  background-image: url(../img/sea-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile5{
  background-image: url(../img/shoe-person-06.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-profile5:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}

.shoe-box6{
  background-color: skyblue;
  background-image: url(../img/sporty-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile6:hover{
  opacity: 0;
  top: 100px;
  -webkit-transition: 1.5s;
}

.shoe-profile6{
  background-image: url(../img/shoe-person-07.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 1.5s;
}
.shoe-box7{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile7{
  background-image: url(../img/shoe-person-08.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
.shoe-box8{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile8{
  background-image: url(../img/shoe-person-09.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
.shoe-box9{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile9{
  background-image: url(../img/shoe-person-10.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
.shoe-box10{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile10{
  background-image: url(../img/shoe-person-11.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
.shoe-box11{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile11{
  background-image: url(../img/shoe-person-12.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
.shoe-box12{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile12{
  background-image: url(../img/shoe-person-13.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
.shoe-box13{
  background-image: url(../img/clan-shoe.png);
  background-size: contain;
  width: 300px;
  margin: 0.5%;
  height: 300px;
}
.shoe-profile13{
  background-image: url(../img/shoe-person-14.png);
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
  -webkit-transition: 2s;
}
